.vtl-cbp-textarea {
	display: block;
	width: 100%;
	margin: 12px 0 0;
	height: 4em;
}

.vital-cbp-pattern-terms {
	display: flex;
	flex-direction: row;
	> * {
		margin-right: 8px;
	}
}

.vital-cbp-pattern-term {
	font-size: 13px;
	line-height: 1.33;
	padding: 4px;
	border-radius: 6px;
	background-color: #e5e5e5;
}

.vital-cbp-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: .33em;
	gap: 0.33em;
}

.vital-cbp-title .copy-button {
	font-size: 12px;
}

.vital-cbp-pattern-meta {
	font-size: 13px;
	margin-top: 4px;
	line-height: 1.4;
}
.vital-cbp-last-updated-date {
	font-style: italic;
}

.vital-cbp-description {
	border: 2px dashed #1C1c1c;
	padding: 8px;
	margin: 12px 0 0;

	p {
		font-size: 14px;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.vital-cbp-description-heading {
	margin-top: 0;
	margin-bottom: .5em;
	font-size: 14px;
	text-transform: none;
	color: #1c1c1c;
}

.vital-cbp-archive-meta-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.vital-cpb-post-divider {
	margin-top: 20px;
	margin-bottom: 40px;
}




.cbp-archive-posts {
	> :where(*) {
		max-width: var(--wp--style--global--content-size);
		margin-inline: auto;
	}
}
