.popup-note {
	position: fixed;
	background-color: var(--wp--custom--colors--shaded-bg, #ffffff);
	color: var(--wp--custom--colors--body, #000000);
	border-radius: 3px;
	font-size: 10px;
	font-weight: 700;
	padding: 3px 6px;
	transform: translate(-50%, calc(-1 * (100% + 1rem)));
	opacity: 0;
	transition: opacity 0.3s ease-out;
}

.popup-note.visible {
	opacity: 1;
}
